#root {
  position: relative;
  min-width: 1076px;
  max-width: 1076px;
  margin: 0 auto;
}

.navbar__container {
  padding: 5rem 1rem;
}

.navbar__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__heading {
  display: inline-block;
  color: white;
  margin-left: 2rem;
  font-size: 3.5rem;
  width: 100%;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  color: white;
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: 600;
}

.navbar__link:visited {
  text-decoration: none;
  color: white;
}

.home__container {
  color: white;
  padding: 3rem 3rem;
}

.home__heading {
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
}

.characterSelect__container {
  padding: 1rem 3rem;
  width: 100%;
}

.characterSelect__heading {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.characterSelect__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  column-gap: 1rem;
  row-gap: 1.2rem;
  margin-top: 3rem;
  padding: 3rem;
}

.charInfo__portrait--select {
  position: relative;
  background-color: #4f0403;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  width: 17rem;
  height: 10rem;
  transition: all 0.4s;
}

.charInfo__portrait--select:hover {
  transform: scale(1.2);
  background-color: #a41f1f;
  z-index: 10;
}

.charInfo__portrait--select span {
  color: white;
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  left: 0.7rem;
  bottom: 0.5rem;
  font-style: italic;
}

.charInfo__wrapper {
  position: relative;
}

.charInfo__container {
  padding: 1rem 0rem;
  padding-top: 20rem;
  color: white;
  display: flex;
  justify-content: space-around;
  animation: fade-in 0.4s;
}

.charInfo__portrait {
  position: relative;
  /* background-color: #4f0403; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  width: 320px;
  height: 365px;
  border-radius: 6px;
  animation: fade-in 0.4s;
}

.charInfo__details {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charInfo__name {
  padding: 3rem 0rem;
  min-width: 100%;
}

.charInfo__name h2 {
  font-size: 15rem;
  letter-spacing: -0.7rem;
  text-align: right;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: italic;
  white-space: nowrap;
}

.charInfo__name--jpn {
  position: absolute;
  text-align: center;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.charInfo__name--jpn span {
  font-size: 42rem;
  letter-spacing: -2rem;
  font-weight: 700;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.charInfo__btns {
  padding: 0rem 0rem;
  padding-top: 5rem;
  display: flex;
  justify-content: flex-end;
}

.charInfo__btns--btn {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  background-color: #5c1c23;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.charInfo__btns--btn:not(:last-child) {
  margin-right: 2rem;
}

.charInfo__btns--btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background-color: #a41f1f;
}

.charInfo__btns--btn:active {
  transform: translateY(0px);
}

.charInfo__bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.charInfo__bio {
  padding: 0.5rem 0rem;
}

.charInfo__bio h3 {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}

.charInfo__bio-details {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.charInfo__demographics {
  display: flex;
  padding: 1rem 0rem;
  font-size: 1.5rem;
}

.charInfo__demographics p {
  display: inline-flex;
}

.charInfo__demographics p:not(:first-child) {
  margin-left: 5rem;
}

.charInfo__natl {
  display: inline-block;
  width: 2.3rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}

.charInfo__demographics span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  font-style: italic;
}

/* Strengths and Weaknesses */
.sandw__container {
  padding: 1rem 1.3rem;
  animation: fade-in 0.4s;
}
.sandw__container--inner {
  background-color: #131313;
  display: flex;
  padding: 2rem;
  border-radius: 6px;
  color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

.sandw__strengths,
.sandw__weaknesses {
  width: 50%;
  text-align: center;
}

.sandw__strengths {
  border-right: 1px solid #7e7e7e;
}

.sandw__strengths h3,
.sandw__weaknesses h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

.sandw__strengths ul,
.sandw__weaknesses ul {
  text-align: left;
  padding: 0 25%;
  margin-top: 1rem;
}

.sandw__strengths li,
.sandw__weaknesses li {
  font-size: 1.2rem;
}

/* Top Moves */
.topmoves__container,
.framedata__container,
.keymoves__container,
.combos__container {
  padding: 1.5rem 1.3rem;
  animation: fade-in 0.4s;
}

.topmoves__container--inner,
.keymoves__container--inner,
.framedata__container--inner {
  background-color: #131313;
  padding: 2rem 4rem;
  border-radius: 6px;
  color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
  outline: 1px solid #1d1d1d99;
}

.combos__container--inner {
  padding: 4rem;
}

.topmoves__heading {
  display: flex;
}

.topmoves__heading h3,
.keymoves__heading h3,
.framedata__heading h3,
.combos__container h3 {
  font-size: 1.5rem;
}

.topmoves__heading p,
.keymoves__heading p,
.combos__container p {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 600;
  color: #a1a1a1;
}

.combos__container p {
  margin-left: 0rem;
  padding-bottom: 3rem;
}

.keymoves__heading p {
  margin-left: 0rem;
}

.topmoves__table,
.keymoves__table,
.framedata__table {
  display: flex;
  overflow-y: scroll;
  background-color: #303030;
  max-height: 135px;
  margin-top: 1rem;
}

.framedata__table {
  max-height: 550px;
}

.topmoves__table table,
.keymoves__table table,
.framedata__table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #131313;
}

.topmoves__table th,
.keymoves__table th,
.framedata__table th {
  background-color: #080808;
  outline: 2px solid #131313;
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
  position: sticky;
  top: 0;
}
.topmoves__table table tr td,
.keymoves__table table tr td,
.framedata__table table tr td {
  border: 1px solid #212121;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.topmoves__table table tr:nth-child(even),
.keymoves__table table tr:nth-child(even),
.framedata__table table tr:nth-child(even) {
  background-color: #191919;
}

.framedata__table table tr:hover {
  background-color: #5c1c23;
}

.spinner__container {
  padding: 52rem 20rem;
  color: white;
  font-size: 5rem;
  text-align: center;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner__content::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 10px #ffffff;
  border-bottom-color: #5c1c23;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.spinner__content span {
  font-weight: 900;
  font-style: italic;
  font-size: 5rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.combos__video {
  border-radius: 6px;
  animation: fade-in 0.4s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

.footer {
  padding: 5rem;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
